<div class="bg-blue-200 flex justify-center items-center">
	<div
		class="flex flex-col lg:flex-row gap-4 justify-between items-center w-4/5 p-4 text-gray-500 text-sm"
	>
		<div>
			<ul class="flex gap-3">
				<li>
					<a href="/" class="hover:text-rose-500 transition duration-500">Facebook</a>
				</li>
				<li>
					<a href="/" class="text-gray-500 hover:text-rose-500 transition duration-500">Twitter</a>
				</li>
				<li>
					<a href="/" class="text-gray-500 hover:text-rose-500 transition duration-500">LinkedIn</a>
				</li>
				<li>
					<a href="/" class="text-gray-500 hover:text-rose-500 transition duration-500"
						>Instagram</a
					>
				</li>
			</ul>
		</div>
		<p>Copyright &copy; All Right Reserved</p>
		<div class="">
			<a href="/">
				<img
					src="//odour-demo.myshopify.com/cdn/shop/files/payment_large_8665cbf0-b09b-4cdb-b12b-ee45332cdb3f_large.png?v=1614298670"
					alt=""
				/>
			</a>
		</div>
	</div>
</div>
