<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Admin Dashboard</a>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 sidebar">
      <div class="sidebar-brand">Dashboard</div>
      <ul class="sidebar-menu">
        <li class="sidebar-menu-item">
          <a
            class="text-decoration-none text-light"
            routerLink="/admin/products"
          >
            Users
          </a>
        </li>
        <li class="sidebar-menu-item">
          <a
            class="text-decoration-none text-light"
            routerLink="/admin/products"
          >
            Products
          </a>
        </li>
        <li class="sidebar-menu-item">
          <a
            class="text-decoration-none text-light"
            routerLink="/admin/products"
          >
            Orders
          </a>
        </li>
        <li class="sidebar-menu-item">Settings</li>
        <li class="sidebar-menu-item">Logout</li>
      </ul>
    </div>
    <div class="col-lg-9 main-content">
      <div class="row">
        <div class="col-12 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Users</h5>
              <p class="card-text">Total users: 1000</p>
              <a href="#" class="btn btn-custom">View Details</a>
            </div>
          </div>
        </div>
        <div class="col-12 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Products</h5>
              <p class="card-text">Total products: {{ productsCount }}</p>
              <a routerLink="/admin/products" class="btn btn-custom"
                >View Details</a
              >
            </div>
          </div>
        </div>
        <div class="col-12 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Orders</h5>
              <p class="card-text">Total orders: 2000</p>
              <a href="#" class="btn btn-custom">View Details</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-add-icon></app-add-icon>
  </div>
</div>
