body {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}
.sidebar {
  background-color: #343a40;
  color: #ffffff;
  height: 92vh;
  padding-top: 20px;
}

.main-content{
  margin-top:100px;
}
