
<app-banner> </app-banner>
@if(productDetails){
  <div class="container">
    <div class="row product-details-container justify-content-center">

        <div class="col-lg-6 col-12 large-img-container">
          <div class="row">
            <div class="col-md-8">
              <img [src]="mainImage" alt="{{productDetails.title}}" class="img-fluid mx-auto d-block mt-3 large-image w-100">
            </div>
            <div class="col-3 d-md-block d-none large-img-container">
              <img *ngFor="let img of productDetails.image"
                  [src]="img" alt="{{ productDetails.title }}"
                  class="img-fluid mx-auto d-block small-image mb-2"
                  (click)="mainImage = img;"
                  >
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-12 product-details ">
          <h2 class="fs-2">{{productDetails.title}}</h2>
          <p class="lead mt-2">{{productDetails.description}}</p>
          <p class="price">${{productDetails.price}}</p>
          <p *ngIf="productDetails.stock>0" class="fs-5"><strong> In Stock: </strong> {{productDetails.stock}}</p>
          <p *ngIf="productDetails.stock == 0" class="fs-5"><strong> Out of Stock </strong></p>
          <p class="fs-5">
            <strong>Category: </strong> {{productDetails.category}}</p>
          <!-- <button class="btn btn-primary" (click)="addToCart()">Add to Cart</button> -->
          <div class="star-rating mb-4">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
          </div>

          <div class="mt-3 counter-container">
            <div class="counter-border ">
              <button class="btn counter-button" (click)="decrement()">-</button>
              <span class="counter-value">{{countValue}}</span>
              <button class="btn counter-button" (click)="increment()">+</button>
            </div>
            <button class=" ms-2 btn btn-primary add-to-cart" >
              Add to Cart
            </button>
            <div class="ms-2 btn wishlist-border" >
              <i class="far fa-heart fs-5"></i>
            </div>
          </div>

          <div class="btn w-50 mt-4 buy-now-btn">Buy Now</div>
        </div>

        <div class="row desc-section">
          <div class="col-lg-8 col-12">
            <div class="navigation-menu mt-5">
              <div class="d-flex ">
                <a (click)="showDescription()" [ngClass]="{'active': currentComponent === 'description'}" class="nav-link pe-4" >Description</a>
                <!-- <a (click)="showReviews()" [ngClass]="{'active': currentComponent === 'reviews'}" class="nav-link pe-4">Reviews</a> -->
                <a (click)="showShippingPolicy()" [ngClass]="{'active': currentComponent === 'shipping-policy'}" class="nav-link pe-4">Shipping Policy</a>
              </div>
              <div *ngIf="currentComponent === 'description'">
                <app-description-for-product></app-description-for-product>
              </div>

              <div *ngIf="currentComponent === 'reviews'">
                <app-reviews></app-reviews>
              </div>

              <div *ngIf="currentComponent === 'shipping-policy'">
                <app-shipping-policy></app-shipping-policy>
              </div>
            </div>

          </div>

          <div class="col-lg-4 img-des">
            <img src="{{productDetails.image[3]}}" class="w-100 img-fluid" alt="">
          </div>
        </div>


        <div class="row">
          <div class="col-md-4">hello</div>
          <div class="col-md-4">hello</div>
          <div class="col-md-4">hello</div>
          <div class="col-md-4">hello</div>
          <div class="col-md-4">hello</div>
          <div class="col-md-4">hello</div>
          <div class="col-md-4">hello</div>
          <div class="col-md-4">hello</div>
          <div class="col-md-4">hello</div>
          <div class="col-md-4">hello</div>
          <div class="col-md-4">hello</div>
        </div>

    </div>
  </div>

}@else{
  <div class="d-flex justify-content-center mt-5">
    <div class="spinner-border" role="status">
    </div>
  </div>
}
