<div class="card">
  <div class="card-img">
    <img
      src="{{ product.image }}"
      alt="{{ product.title }}"
      class="product-image img-fluid"
    />
    <div class="product-popup">
      <button class="wishList-btn">
        <i class="far fa-heart fa-fw fa-border"></i>
      </button>
      <button class="cart-btn">
        <i class="fas fa-shopping-cart fa-fw fa-border"></i>
      </button>
    </div>
  </div>
  <div class="card-body">
    <h1 class="product-title">{{ product.title }}</h1>
    <p class="product-price">${{ product.price }}</p>
    <div class="rating">
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star-half-alt"></i>
      <i class="far fa-star"></i>
    </div>
  </div>
</div>
