<div class="card mt-3 mb-4">
  <div class="card-img">
    <img
      src="{{ product.image[0] }}"
      alt="{{ product.title }}"
      class="product-image img-fluid w-100"
    />
    <div class="product-popup" *ngIf="!isAdmin">
      <button
        *ngIf="!isIncluded"
        class="wishList-btn button"
        (click)="addToWishList(product._id)"
      >
        <i class="far fa-heart fa-fw icon"></i>
      </button>
      <button
        *ngIf="isIncluded"
        class="remove-wishlist-btn button"
        (click)="removeFromWishList(product._id)"
      >
        <i class="fas fa-heart fa-fw icon"></i>
      </button>
      <button class="cart-btn button" (click)="addToCart(product._id, 1)">
        <i class="fas fa-shopping-cart fa-fw icon"></i>
      </button>
    </div>
  </div>
  <div class="card-body">
    <h1 class="product-title">{{ product.title }}</h1>
    <p class="product-price">${{ product.price }}</p>

    <div class="rating" *ngIf="!isAdmin">
      <app-star-rating
        [productId]="product._id"
        [show]="true"
      ></app-star-rating>
    </div>
    <!-- admin btns -->
    <div class="admin-btns mt-2" *ngIf="isAdmin">
      <a routerLink="edit/{{ product._id }}" class="btn edit-delete-btn ms-2">
        Edit
      </a>
      <button class="btn edit-delete-btn ms-2" (click)="deleteProduct(product)">
        Delete
      </button>
    </div>
  </div>
</div>
