.product-popup {
  background-color: white;
  border-radius: 30%;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-popup.show {
  display: block;
}
