<div class="search-container mb-5">
  <h6>Search</h6>
  <div class="search-input-wrapper mt-5">
    <input
      type="search"
      class="search-input"
      value=""
      placeholder="Search our store"
      aria-label="Search our store"
      autocomplete="off"
    />
    <button type="submit" class="search-button" (click)="searchForProduct()">
      <i class="fas fa-search"></i>
    </button>
  </div>
</div>
<h6>Categories</h6>
<ul class="list-group categories mt-5">
  <li>
    <div class="form-check category mb-3">
      <input
        type="checkbox"
        class="form-check-input"
        id="menCheckbox"
        name="category"
        (change)="filterByCategory('men', $event)"
      />
      <label class="form-check-label" for="menCheckbox"> Men </label>
      <span id="men-counter" class="circle">1</span>
    </div>
  </li>
  <li>
    <div class="form-check category mb-3">
      <input
        type="checkbox"
        class="form-check-input"
        id="womenCheckbox"
        name="category"
        (change)="filterByCategory('women', $event)"
      />
      <label class="form-check-label" for="womenCheckbox"> Women </label>
      <span id="women-counter" class="circle">1</span>
    </div>
  </li>
  <li>
    <div class="form-check category mb-3">
      <input
        type="checkbox"
        class="form-check-input"
        id="kidsCheckbox"
        name="category"
        (change)="filterByCategory('kids', $event)"
      />
      <label class="form-check-label" for="kidsCheckbox"> Kids </label>
      <span id="kids-counter" class="circle">1</span>
    </div>
  </li>
</ul>
