<div class="h-[calc(100vh-90px)] flex justify-center items-center">
	<div class="bg-[#f3f3f3] p-8 overflow-hidden">
		<h2 class="text-4xl font-extrabold capitalize text-center mb-4">Register</h2>
		<app-message-success [message]="message"></app-message-success>
		<p>Please Register your account using the following data.</p>
		<form class="mt-8 space-y-8" (submit)="checkData($event)" [formGroup]="checkForm">
			<div>
				<input
					type="email"
					name="email"
					placeholder="Email"
					class="w-full bg-white p-3 text-base placeholder:text-black font-medium outline-none"
					formControlName="email"
				/>
				<p *ngIf="!emailValid && emailChanged" class="text-red-500 text-sm mt-2">
					Please enter a valid email
				</p>
			</div>
			<div>
				<input
					type="text"
					name="username"
					placeholder="Username"
					class="w-full bg-white p-3 text-base placeholder:text-black font-medium outline-none"
					formControlName="username"
				/>
				<p *ngIf="!usernameValid && usernameChanged" class="text-red-500 text-sm mt-2">
					Username Contains letters and characters only!
				</p>
			</div>
			<div>
				<input
					type="password"
					name="password"
					placeholder="Password"
					class="w-full bg-white p-3 text-base placeholder:text-black font-medium outline-none"
					formControlName="password"
				/>
				<p *ngIf="!passwordValid && passwordChanged" class="text-red-500 text-sm mt-2">
					The password must be at least 6 characters
				</p>
			</div>
			<div>
				<select
					id="gender"
					name="gender"
					class="block appearance-none w-full bg-white border border-gray-300 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:border-gray-500"
					formControlName="gender"
				>
					<option value="" disabled selected>Select Gender</option>
					<option value="male">Male</option>
					<option value="female">Female</option>
				</select>
				<p *ngIf="!genderValid && genderChanged" class="text-red-500 text-sm mt-2">
					Please select your gender
				</p>
			</div>

			<div class="flex flex-col md:flex-row md:justify-between items-end md:items-center">
				<button type="submit" class="btn-item">Register</button>
			</div>
			<div>
				<a class="hover-gray cursor-pointer text-sm">Already have an account? login</a>
			</div>
		</form>
	</div>
</div>
