<div
	class="w-full h-full md:p-0 gap-4 md:min-h-[calc(100vh-90px)] md:w-48 bg-[#212529] text-white lg:sticky shadow-lg"
>
	<div class="bg-[#4d5257] hidden md:flex p-8 justify-center items-center flex-col gap-2">
		<div
			class="size-14 md:size-20 border-4 border-[#212529] rounded-full flex justify-center items-center bg-white shadow-sm shadow-[#4d5257] overflow-hidden"
		>
			@if (userInfo?.image) {
				<img class="size-20 object-cover" src="{{ userInfo.image }}" alt="" />
			} @else {
				<img
					class="size-20 object-cover"
					src="https://static.vecteezy.com/system/resources/thumbnails/020/911/746/small/user-profile-icon-profile-avatar-user-icon-male-icon-face-icon-profile-icon-free-png.png"
					alt=""
				/>
			}
		</div>
		<h3>
			@if (userInfo?.username) {
				{{ userInfo.username }}
			} @else {
				User Name
			}
		</h3>
	</div>
	<div class="text-sm h-full">
		<h2 class="px-4 my-4 text-gray-400 hidden md:block">Account ettings</h2>
		<ul class="grid grid-cols-3 md:block h-full md:h-auto" data-sidebar-links>
			@for (sidebarItem of sidebarItems; track sidebarItem.routerLink) {
				<li
					class="!text-white cursor-pointer md:py-4 px-2 md:border-b border-gray-500 hover:bg-[#4d5257] transition duration-500 flex gap-4 justify-center md:justify-normal items-center {{
						sidebarItem.active ? activeClass : ''
					}}"
					(click)="changeActiveClass($event)"
					routerLink="{{ sidebarItem.routerLink }}"
				>
					<div class="md:w-2">
						<fa-icon class="text-lg" [icon]="sidebarItem.icon"></fa-icon>
					</div>
					<a class="hidden md:block">{{ sidebarItem.name }}</a>
				</li>
			}
		</ul>
	</div>
</div>
