.card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  margin-right: 15px;
}
.card:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}
.card-body {
  padding: 20px;
}
.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #343a40;
}
.card-text {
  color: #6c757d;
}
.btn-custom {
  background-color: #cc5a73;
  border-color: #cc5a73;
  color: #ffffff;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}
.btn-custom:hover {
  background-color: white;
  border-color: #cc5a73;
  color: #000;
}

.container-fluid {
  overflow-x: hidden !important;
}
